{% extends 'base.html.twig' %}

{% block title %}Zarządzanie dokumentami{% endblock %}

{% block body %}
    <h1>Zarządzanie dokumentami</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.filename) }}
    <button type="submit" class="btn btn-primary">Dodaj dokument</button>
    {{ form_end(form) }}
{% endblock %}
