{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal text-center">Logowanie</h1>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" placeholder="Wpisz email" name="email"
                                   id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Hasło</label>
                            <input type="password" placeholder="Wpisz hasło" name="password" id="inputPassword"
                                   class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button class="btn btn-lg btn-block btn-primary" type="submit">Zaloguj</button>
                        <a href="{{ path('index') }}" class="btn btn-block btn-link" type="submit">Wróć</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
