<nav class="navbar navbar-light bg-transparent justify-content-between">
    <a class="navbar-brand" href="{{ path('index') }}">ESM</a>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_login') }}">Zaloguj się</a>
</nav>