{% extends 'base.html.twig' %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <h1 class="my-3">Posty</h1>
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">
                            <header class="font-weight-bold">{{ post.topic }}</header>
                            <small>{{ post.author }}</small>
                            <p>{{ post.post }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
