{% extends 'base.html.twig' %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="d-flex align-items-center">
                    <h1 class="my-3">Posty</h1>
                    {% if is_granted("ROLE_EMPLOYER") %}
                        <a href="{{ path('post_add') }}" class="btn btn-primary btn-sm ml-2">Dodaj post</a>
                    {% endif %}
                </div>
                {% if posts %}
                    {% for post in posts %}
                        <div class="card">
                            <div class="card-body">
                                <header class="font-weight-bold">{{ post.topic }}</header>
                                <small>{{ post.author }}</small>
                                <p>{{ post.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>👋 Brak postów na ten moment</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
