{% extends 'base.html.twig' %}
{% set activeTab = "vacation" %}
{% block title %}Urlopy{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="my-4">Urlopy</h1>
            <table class="table table-striped">
                <tr>
                    <th scope="col">Pracownik</th>
                    <th scope="col">Początek Urlopu</th>
                    <th scope="col">Koniec Urlopu</th>
                </tr>
                {% for vacation in vacations %}
                    {%if vacation.vacationStatus=="accepted" %}
                        <tr>
                            <td>{{ vacation.employee }}</td>
                            <td>{{ vacation.beginningOfVacation|date('d.m.Y') }}</td>
                            <td>{{ vacation.endingOfVacation|date('d.m.Y') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <a href="{{ path('vacation_add') }}" class="btn btn-primary">Dodaj Urop</a>
        </div>
    </div>
{% endblock %}
