{% extends 'base.html.twig' %}

{% block title %}Zmiana adresu email{% endblock %}

{% block body %}
    <h1 class="my-4">Zmiana adresu email</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('settings') }}" class="btn btn-secondary">Wróć do ustawień</a>
    {{ form_end(form) }}
{% endblock %}
