@import "~bootstrap/scss/bootstrap";
@import "~flatpickr/dist/flatpickr";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~sweetalert2/src/sweetalert2.scss";
@import "~toastr/toastr.scss";
@import "./sidebar.scss";
@import  './darkmode.scss';
@import "./subpage.scss";
@import "./shared.scss";

.toast {
  font-family: inherit !important;
}

.content {
  width: 85vw;
  padding: 8pt;
}

body {
  overflow: hidden;
}