@import "~bootstrap/scss/bootstrap";
@import "~flatpickr/dist/flatpickr";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "./sidebar.scss";

.fas {
  width: 11px !important;
  height: 11px !important;
  margin-right: 8pt;
}

.btn-primary {
  border: 1px solid #2f49d0 !important;
}
.bg-primary, .btn-primary {
  background: #2f49d0 !important;
}

.text-primary {
  color: #2f49d0 !important;
}

.container--full-page {
  height: 100vh;
}

body {
  overflow: hidden;
}