@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
$primaryDMColor: #1f1f1f;
$secondaryDMColor: #f7f7f7;
$tertiaryDMColor: #525252;

$red: #ff0000;

body {
  color: #000000;
  background: #FFFFFF;
}

a {
  color: #000000;
}

th {
  color: #222222;
}

td {
  color: #222222;
}

body.dark-mode {
  color: #ededee;
  background: #2f2f2f;

  a {
    color: #ededee;
  }

  th {
    color: #e5e5e5;
  }

  td {
    color: #cccccc;
  }
  hr {
    border: 1px solid $tertiaryDMColor;
  }
  .btn-primary {
    border: 1px solid $primaryDMColor !important;
    background: $primaryDMColor !important;
  }
  .dark-logo {
    fill: #000000;
  }
  .sidebar {
    background: $primaryDMColor;

    .sidebar__components {
      .sidebar__link {

        &--active {
          background: $tertiaryDMColor;
          color: $secondaryDMColor;
        }
        &:hover {
          background: #f7f7f7;
          color: $primaryDMColor;
        }
        &--logout:hover {
          background: #841f29;
          color: $secondaryDMColor;
        }
      }
    }
  }
}

