a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 30vh;
    max-width: 30vh;
    background: #731522;
    color: #F1F0CC;
}


#sidebar .sidebar-header {
    padding-top: 10px;
    text-align: center;
}


#sidebar ul.components {
    padding: 20px;
}

#sidebar ul li a {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    display: block;
}

#sidebar ul li a:hover {
    color: #731522;
    background: #F1F0CC;
}

ul ul a {
    font-size: 15px !important;
    padding-left: 30px !important;
    border-radius: 5px;
}

#container {
    display: flex;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
}

.dropdown-content a {
    color: #F1F0CC;
    background: #8D192A;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F1F0CC;
    color: #8D192A;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown .arrow {
    float: right;
    padding-top: 3px;
}

hr {
    border: 1px solid #8D192A;
}

#sidebar ul li a.btn-log_in {
    color: #731522;
    background: #F1F0CC;
}

#sidebar ul li a.btn-log_in:hover {
    color: #F1F0CC;
    background: #731522;
    border: 1px solid #F1F0CC;
}