$primaryColor: #2f49d0;
$secondaryColor: #f3f3f3;
$tertiaryColor: #1a2b81;

.sidebar {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 100vh;
  background: $primaryColor;
  color: $secondaryColor;

  hr {
    border: 1px solid $tertiaryColor;
  }

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .sidebar__components {
    padding: 0 20px;

    .sidebar__link {
      margin: 5px;
      padding: 10px;
      font-size: 16px;
      display: block;
      border-radius: 5px;

      &--active {
        background: $tertiaryColor;
        color: $secondaryColor;
      }

      &:hover {
        color: $primaryColor;
        background: $secondaryColor;
      }

      &--logout:hover {
        background: #dc3545;
        color: $secondaryColor;
      }
    }
  }
}
