$primaryColor: #731522;
$secondaryColor: #F1F0CC;
$tertiaryColor: #8D192A;
#container {
  display: flex;

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
  }

  .wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;

    #sidebar {
      min-width: 30vh;
      max-width: 30vh;
      background: $primaryColor;
      color: $secondaryColor;

      .sidebar_header {
        padding-top: 10px;
        text-align: center;
      }

      hr {
        border: 1px solid $tertiaryColor;
      }

      .sidebar_components {
        padding: 20px;

        .sidebar_component--link {
          margin: 5px;
          padding: 10px;
          font-size: 16px;
          display: block;
          border-radius: 5px;
        }

        .sidebar_component--link:hover {
          color: $primaryColor;
          background: $secondaryColor;
        }

        .dropdown.active {
          .dropdown_content {
            display: block;
          }
        }

        .dropdown {
          display: inline-block;

          .dropdown_content {
            display: none;
            position: relative;

          }

          .dropdown_arrow {
            float: right;
            padding-top: 3px;
          }

          .dropdown_content--link {
            color: $secondaryColor;
            background: $tertiaryColor;
            text-decoration: none;
            display: block;
            margin: 5px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
          }

          .dropdown_content--link:hover {
            background-color: $secondaryColor;
            color: $tertiaryColor;
          }
        }
      }
    }
  }
}
