.content{
  height: 100vh;
  background-color: #EEEEEE;
}

thead th{
  background-color: #1a2b81;
  color: #DDDDDD;
  position:sticky;
  top:-1px;
}
tbody td{
  background-color: whitesmoke;
}

.table-responsive{
  max-height: 60%;
  overflow:auto;
}

.header{
  margin-bottom: 40px;
  width: 100%;
  height: 5px;
  background-color: #2f49d0;
}

h1{
  letter-spacing: 3px;
  color: #273CA8;
  text-transform: uppercase;
}

.btn-primary{
  letter-spacing: 1px;
}

.vacationHeader{
  color:#273CA8;
  margin-top:15px !important;
  text-transform: uppercase;
}
.documentHeader{
  color: #273CA8;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.list-group{
  max-height: 60vh;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}


