{% from "layouts/sidebar.html.twig" import sidebar %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block scripts %}{% endblock %}
    </head>
    <body class="d-flex">
        {% if sidebarVisible|default("true") == "true" %}
            {{ sidebar(activeTab) }}
        {% endif %}
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
