<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="container">
            {{ include('layouts/sidebar.html.twig') }}
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            {{ encore_entry_script_tags('app') }}
        </div>
    </body>
</html>
