<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
            {{ include('layouts/navbar.html.twig') }}
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
