<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block scripts %}{% endblock %}
    </head>
    <body>
    <div id="container">
    {{ include('layouts/slidebar.html.twig') }}
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-dark">
            <i class="fas fa-bars"></i>
            <span></span>
        </button>
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
