{% extends 'base.html.twig' %}

{% block body %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col d-flex justify-content-center flex-column">
                <div>
                    <h1 class="display-3 text-left text-primary">404</h1>
                    <h2 class="h2 text-left">Nie znaleziono</h2>
                </div>
                <p class="text-left">
                    Strona nie mogła zostać zlokalizowana. Upewnij się czy nazwa nie zawiera błędów.
                </p>
                <div>
                    <a href="{{ path('index') }}" class="btn btn-primary">Powrót do strony głównej</a>
                </div>
            </div>
            <div class="col">
                <img src="{{ asset("images/404.svg") }}" class="img-fluid" alt="404">
            </div>
        </div>
    </div>
{% endblock %}
