{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row mt-5">
            <div class="col d-flex justify-content-center flex-column">
                <div>
                    <h1 class="display-3 text-left text-secondary">500</h1>
                    <h2 class="h2 text-left font-weight-bold">Błąd serwera</h2>
                </div>
                <p class="text-left">
                    Coś poszło nie tak. Spróbuj odświeżyć stronę, jeśli błąd będzie się powtarzał, skontaktuj się z nami.
                </p>
            </div>
            <div class="col">
                <img src="{{ asset("images/500.svg") }}" class="img-fluid" alt="404">
            </div>
        </div>
    </div>
{% endblock %}